<div id="post_content">

  <%= image_tag @challenge.image.url(:medium) %>

  <p class="title">
    <strong>Title:</strong>
    <%= @challenge.title %>
  </p>

  <p class="body">
    <strong>Description:</strong>
    <%= @challenge.description %>
  </p>

  <p class="date">
    <strong>Begin period:</strong>
    <%= @challenge.begin_period %>
    <strong>End period:</strong>
    <%= @challenge.end_period %>
  </p>

  <%= render @challenge.ideas%>
  <%= render "ideas/form"%>

  <p>
    <div id="buttons">
      <button class="button"><%= link_to 'Edit', edit_challenge_path(@challenge) %></button>  |
      <button class="button"><%= link_to 'Back', challenges_path %></button>
    </div>
  </p>


</div>
